<div class="cookiesContainer-lp" aria-labelledby="Préférences de confidentialité" aria-modal="true" role="dialog">

    <button class="cookie-btn-default close-cookie" title="">
        <span aria-hidden="true" class=""></span>
        <span class="sr-only">Fermer</span>
    </button>

    <p class="desc">
        Nous utilisons des cookies strictement nécessaires au fonctionnement de ce site Web ainsi que des cookies statistiques qui nous permettent de savoir de manière anonyme comment les utilisateurs interagissent avec le site Web afin d'optimiser votre expérience utilisateur.<br/>
        Ces cookies sont paramétrables à tout moment depuis la publication.
    </p>

    <div class="cookie-btn">
        <button class="cookie-btn-default refuse-cookie" title="">
            Refuser
        </button>

        <button class="cookie-btn-default accept-cookie" title="">
            Accepter
        </button>
    </div>

</div>
