<footer>
  <!-- FOOTER START -->
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo-primary.svg" alt="" class="logo">
    </div>
    <div class="redirect">
      <ul class="redirect__list">
        <li class="redirect__list__item">
          <a href="#" class="redirect__list__item__link read">
            Lire le e&#8209;document
          </a>
        </li>
        <li class="redirect__list__item">
          <a href="#" class="redirect__list__item__link download">
            Télécharger le pdf
          </a>
        </li>
      </ul>
    </div>
    <div class="info">
      <div class="doc">
        <img src="../assets/images/eye-crossed.svg" alt="" class="eye">
        <p>Document e-accessible</p> 
      </div>
      <div class="ps">
        <a href="#" class="ps__link">Publispeak.com</a>
      </div>
    </div>
  </div>
  <!-- FOOTER END -->
</footer>
