<footer role="contentinfo">
  <!-- FOOTER START -->
  <div class="container">
    <div class="logo-container">
      <img src="../assets/images/logo-primary.svg" alt="Pernod Ricard, Créateurs de convivialité" class="logo" data-aos="zoom-in"/>
    </div>
    <div class="redirect">
      <ul class="redirect__list">
        <li class="redirect__list__item">
          <a href="#" class="redirect__list__item__link read" aria-label="Lire le e-document : Rapport annuel intégré 2021/22">
            Lire le e&#8209;document
          </a>
        </li>
        <li class="redirect__list__item">
          <a href="#" class="redirect__list__item__link download" aria-label="Télécharger le pdf : Rapport Annuel Intégré 2021/22 - Pernod Ricard, 9.5 Mo, Française">
            Télécharger le pdf
          </a>
        </li>
      </ul>
    </div>
    <div class="info">
      <div class="doc">
        <img src="../assets/images/eye-crossed.svg" alt="" class="eye" />
        <p>Document e-accessible</p>
      </div>
      <div class="ps">
        <a href="https://www.ipedis.com/publispeak" target="_blank" rel="noreferrer" class="ps__link" aria-label="Découvrir Publispeak, nouvel onglet">Publispeak.com</a>
      </div>
    </div>
  </div>
  <!-- FOOTER END -->
</footer>
