<header>
  <!-- HEADER START -->
  <div class="container">

    <div class="headerHeadline">
      <h1 class="sr-only"><span lang="EN">Unlocking the magic of human connection by bringing Good Times from a Good Place</span></h1>
      <h1><span lang="EN"><span class="font-regular">Unlocking the magic</br>of human connection</br></span> by bringing</br>Good Times from</br>a Good Place</span></h1>
      <h2 class="sr-only">Rapport annuel intégré 2021/22</h2>
      <h2>Rapport annuel</br>intégré</br>2021/22</h2>
    </div>

    <div class="headerPicture">
      <img src="../assets/images/header-1.png" alt="">
    </div>
  </div>
  <!-- HEADER END -->
</header>
