<main>
  <!-- MAIN START -->

  <!--- SECTION MESSAGE --->
  <section class="message">
    <div class="container">
      <div class="heading">
        <h2 class="sr-only">Message d'Alexandre Ricard</h2>
        <h2 class="title" aria-hidden="true">
          <span class="light">Message</span><br />d'Alexandre Ricard
        </h2>
        <p class="sr-only">Président Directeur Général de Pernod Ricard</p>
        <p class="role" aria-hidden="true">
          Président<br />Directeur Général<br />de Pernod Ricard
        </p>
      </div>

      <div class="image">
        <p class="role" aria-hidden="true">
          Président<br />Directeur Général<br />de Pernod Ricard
        </p>
        <img src="../assets/images/message.png" alt="" />
      </div>

      <div class="quote">
        <div class="content">
          <blockquote class="sr-only">
            « Nos colla-borateurs sont notre plus grande force.»
          </blockquote>
          <blockquote aria-hidden="true">
            <span class="light"
              >« Nos colla-borateurs<br />sont notre<br />plus</span
            >
            grande <span class="underline">force.</span>&nbsp;»
          </blockquote>
          <a href="#" class="readMore">Lire la suite</a>
        </div>
      </div>
    </div>
  </section>
  <!--- SECTION MESSAGE END --->

  <!--- SECTION REASON --->
  <section class="reason">
    <div class="container">
      <div class="left">
        <h2 class="sr-only">Une raison d'être qui nous unit</h2>
        <h2 class="heading" aria-hidden="true">
          <span class="light">Une raison<br />d'être qui</span><br /><span
            class="border"
            >nous unit</span
          >
        </h2>
        <ul class="left__list">
          <li class="left__list__item">
            <a href="#" class="left__list__item-link"
              >Notre «&nbsp;Mindset for growth&nbsp;»</a
            >
          </li>
          <li class="left__list__item">
            <a href="#" class="left__list__item-link">Notre stratégie</a>
          </li>
          <li class="left__list__item">
            <a href="#" class="left__list__item-link"
              >Notre feuille de route&nbsp;rse</a
            >
          </li>
        </ul>
      </div>
      <div class="right">
        <img src="../assets/images/reason-1.png" alt="" />
      </div>
    </div>
  </section>
  <!--- SECTION REASON END --->

  <!--- SECTION WORLD --->
  <section class="world">
    <div class="container">
      <div class="left">
        <img src="../assets/images/world-1.png" alt="" />
      </div>
      <div class="right">
        <h2 class="sr-only">Un monde d’opportunités à saisir</h2>
        <h2 class="heading" aria-hidden="true">
          <span class="light"
            >Un <span class="border">monde</span><br />d’opportunités</span
          ><br />à saisir
        </h2>
      </div>
    </div>
  </section>
  <!--- SECTION WORLD END --->

  <!-- SECTION FOCUS -->
  <section class="focus">
    <div class="container">
      <h3 class="sr-only">Focus sur trois opportunités</h3>
      <h3 class="title" aria-hidden="true">
        <span class="light">Focus sur</span>trois opportunités
      </h3>

      <ul class="focus__list">
        <li class="focus__list__item">
          <a href="#" class="focus__list__item-link">
            <span class="link-overlay"></span>
            <span class="link-txt">Le local</span>
          </a>
        </li>
        <li class="focus__list__item">
          <a href="#" class="focus__list__item-link">
            <span class="link-overlay"></span>
            <span class="link-txt">Le digital</span>
          </a>
        </li>
        <li class="focus__list__item">
          <a href="#" class="focus__list__item-link">
            <span class="link-overlay"></span>
            <span class="link-txt">Les RTDs</span>
          </a>
        </li>
      </ul>

      <ul class="btm__list">
        <li class="btm__list__item">
          <a href="#" class="btm__list__item-link"
            >Les grandes tendances<br />d'un monde en mutation</a
          >
        </li>
        <li class="btm__list__item">
          <a href="#" class="btm__list__item-link"
            >Les moments de<br />convivialité revisités</a
          >
        </li>
      </ul>
    </div>
  </section>
  <!-- SECTION FOCUS END -->

  <!-- SECTION CULTURE  -->
  <section class="culture">
    <div class="container">
      <div class="left">
        <h2 class="sr-only">Une culture toujours plus conviviale</h2>
        <h2 class="heading" aria-hidden="true">
          <span class="light"
            ><span class="underline">Une culture</span><br />toujours</span
          ><br />plus<br />conviviale
        </h2>
      </div>
      <div class="right">
        <img src="../assets/images/culture-1.png" alt="" />
      </div>
    </div>
  </section>
  <!-- SECTION CULTURE END  -->

  <!-- SECTION SLIDER  -->
  <section>
    <!-- PANEL 1 -->
    <div class="ip-panel panel">
      <div class="panel__desc">
        <h3
          class="panel__desc__title"
          aria-hidden="true"
          data-i18n="slider.slide-1.title"
        ></h3>
        <span class="sr-only" data-i18n="slider.slide-1.title-aria"></span>
      </div>
      <div class="panel__items">
        <ul class="panel__items__ul">
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="Renforcer l'engagement collectif avec I say 2.0"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-1-1.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                Renforcer l'engagement collectif avec I say 2.0
              </span>
            </a>
          </li>
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="Préparer nos collaborateurs pour l'avenir"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-1-2.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                Préparer nos collaborateurs pour l'avenir
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- SLIDER MOBILE 1 -->
    <div class="slider-mobile">
      <ip-slider-sl-1
        data-i18n="slider.slide-1.title slider.slide-1.title-mobile slider.slide-1.btn-next-aria slider.slide-1.btn-previous-aria slider.slide-1.title-aria slider.slide-1.slides"
        data-i18n-attr="slide-title slide-title-mobile btn-next-aria btn-previous-aria slide-title-aria slides"
        slide-title=""
        slide-title-mobile=""
        btn-next-aria=""
        btn-previous-aria=""
        slide-title-aria=""
        slides=""
      >
      </ip-slider-sl-1>
    </div>

    <!-- PANEL 2 -->
    <div class="ip-panel panel panel-reverse">
      <div class="panel__desc">
        <h3
          class="panel__desc__title"
          aria-hidden="true"
          data-i18n="slider.slide-2.title"
        ></h3>
        <span class="sr-only" data-i18n="slider.slide-2.title-aria"></span>
      </div>
      <div class="panel__items">
        <ul class="panel__items__ul">
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="Préserver nos terroirs en prenant soin de nos racines"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-2-1.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                Préserver nos terroirs en prenant soin de nos racines
              </span>
            </a>
          </li>
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="Investir dans un avenir plus circulaire"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-2-2.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                Investir dans un avenir plus circulaire
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- SLIDER MOBILE 2 -->
    <div class="slider-mobile">
      <ip-slider-sl-1
        data-i18n="slider.slide-2.title slider.slide-2.title-mobile slider.slide-2.btn-next-aria slider.slide-2.btn-previous-aria slider.slide-2.title-aria slider.slide-2.slides"
        data-i18n-attr="slide-title slide-title-mobile btn-next-aria btn-previous-aria slide-title-aria slides"
        slide-title=""
        slide-title-mobile=""
        btn-next-aria=""
        btn-previous-aria=""
        slide-title-aria=""
        slides=""
      >
      </ip-slider-sl-1>
    </div>

    <!-- Slider Desktop -->
    <div class="slider-desktop">
      <ip-slider-sl-1
        data-i18n="slider.slide-3.title slider.slide-3.title-mobile slider.slide-3.btn-next-aria slider.slide-3.btn-previous-aria slider.slide-3.title-aria slider.slide-3.slides"
        data-i18n-attr="slide-title slide-title-mobile btn-next-aria btn-previous-aria slide-title-aria slides"
        slide-title=""
        slide-title-mobile=""
        btn-next-aria=""
        btn-previous-aria=""
        slide-title-aria=""
        slides=""
      >
      </ip-slider-sl-1>
    </div>

    <!-- PANEL 3 -->
    <div class="ip-panel panel panel-reverse">
      <div class="panel__desc">
        <h3
          class="panel__desc__title"
          aria-hidden="true"
          data-i18n="slider.slide-4.title"
        ></h3>
        <span class="sr-only" data-i18n="slider.slide-4.title-aria">
          Au service de l'art
        </span>
      </div>
      <div class="panel__items">
        <ul class="panel__items__ul">
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="Le programme de mentorat artistique"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-4-1.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                Le programme de mentorat artistique
              </span>
            </a>
          </li>
          <li class="panel__li">
            <a
              class="panel__li__link"
              href="#"
              aria-label="La Fondation d'entreprise Pernod Ricard"
            >
              <div
                class="panel__li__bg-img"
                style="background-image: url('../assets/images/slide-4-2.png')"
              ></div>
              <span class="panel__li__overlay"></span>
              <span class="panel__li__desc">
                La Fondation d'entreprise Pernod Ricard
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- SLIDER MOBILE 3 -->
    <div class="slider-mobile">
      <ip-slider-sl-1
        data-i18n="slider.slide-4.title slider.slide-4.title-mobile slider.slide-4.btn-next-aria slider.slide-4.btn-previous-aria slider.slide-4.title-aria slider.slide-4.slides"
        data-i18n-attr="slide-title slide-title-mobile btn-next-aria btn-previous-aria slide-title-aria slides"
        slide-title=""
        slide-title-mobile=""
        btn-next-aria=""
        btn-previous-aria=""
        slide-title-aria=""
        slides=""
      >
      </ip-slider-sl-1>
    </div>
  </section>

  <!-- SECTION OUR BRANDS -->
  <section class="our-brands">
    <div class="container">
      <a
        data-i18n="main.brands.link main.brands.alt"
        data-i18n-attr="href aria-label"
        href="#"
        target="_blank"
        rel="noopener"
      >
        <img
          data-i18n="main.brands.img.desktop.underline"
          data-i18n-attr="src"
          alt=""
          class="animate-slide-in"
        />
        <img
          data-i18n="main.brands.img.desktop.title main.brands.img.desktop.alt"
          data-i18n-attr="src alt"
          alt="..."
          class="animate-fade-in"
        />
        <img
          data-i18n="main.brands.img.desktop.bottles"
          data-i18n-attr="src"
          alt=""
          aria-hidden="true"
          class="animate-fade-in"
        />
      </a>
    </div>
  </section>

  <!-- SECTION OUR BRANDS MOBILE -->
  <section class="our-brands-mobile">
    <div class="container">
      <a
        data-i18n="main.brands.link main.brands.alt"
        data-i18n-attr="href aria-label"
        href="#"
        target="_blank"
        rel="noopener"
      >
        <img
          data-i18n="main.brands.img.mobile.title main.brands.img.mobile.alt"
          data-i18n-attr="src alt"
          alt="..."
        />
        <img
          data-i18n="main.brands.img.mobile.bottles"
          data-i18n-attr="src"
          alt=""
          aria-hidden="true"
        />
      </a>
    </div>
  </section>

  <!-- SECTION PERFORMANCE  -->
  <section class="performance">
    <div class="container">
      <div class="left">
        <img src="../assets/images/performance-1.png" alt="" />
      </div>
      <div class="right">
        <h2 class="sr-only">Une performance partagée à découvrir</h2>
        <h2 class="heading" aria-hidden="true">
          Une<br />performance<br /><span class="light"
            >partagée à<br /><span class="border">découvrir</span></span
          >
        </h2>
        <ul class="right__list">
          <li class="right__list__item">
            <a href="#" class="right__list__item-link"
              >Message d'Hélène De Tissot</a
            >
          </li>
          <li class="right__list__item">
            <a href="#" class="right__list__item-link">Nos marchés</a>
          </li>
          <li class="right__list__item">
            <a href="#" class="right__list__item-link">Bilan financier</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- SECTION PERFORMANCE END -->

  <!-- MAIN END -->
</main>
