<main>
  <!-- MAIN START -->

  <!--- SECTION MESSAGE --->
  <section class="message">
    <div class="container">
        <div class="heading">
            <h2 class="sr-only">Message d'Alexandre Ricard</h2>
            <h2 class="title" aria-hidden="true"><span class="light">Message</span><br>d'Alexandre<br>Ricard</h2>
            <p class="sr-only">Président Directeur Général de Pernod Ricard</p>
            <p class="role" aria-hidden="true">Président<br>Directeur Général<br>de Pernod Ricard</p>
        </div>

        <div class="image">
            <img src="../assets/images/message.png" alt="">
        </div>

        <div class="quote">
            <blockquote class="sr-only">« Nos colla-borateurs sont notre plus grande force.»</blockquote>
            <blockquote aria-hidden="true"><span class="light">« Nos colla-borateurs<br>sont notre<br>plus</span> grande <span class="underline">force.</span>&nbsp;»</blockquote>
            <a href="#" class="readMore">Lire la suite</a>
        </div>
    </div>
  </section>
  <!--- SECTION MESSAGE END --->

  <!--- SECTION REASON --->
  <section class="reason">
    <div class="container">
        <div class="left">
            <h2 class="sr-only">Une raison d'être qui nous unit</h2>
            <h2 class="heading" aria-hidden="true"><span class="light">Une raison<br>d'être qui</span><br><span class="border">nous unit</span></h2>
            <ul class="left__list">
                <li class="left__list__item">
                    <a href="#" class="left__list__item-link">Notre « Mindset for growth »</a>
                </li>
                <li class="left__list__item">
                    <a href="#" class="left__list__item-link">Notre stratégie</a>
                </li>
                <li class="left__list__item">
                    <a href="#" class="left__list__item-link">Notre feuille de route rse</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <img src="../assets/images/reason-1.png" alt="">
        </div>
    </div>
  </section>
  <!--- SECTION REASON END --->

  <!--- SECTION WORLD --->
  <section class="world">
    <div class="container">
        <div class="left">
            <img src="../assets/images/world-1.png" alt="">
        </div>
        <div class="right">
            <h2 class="sr-only">Un monde d’opportunités à saisir</h2>
            <h2 class="heading" aria-hidden="true"><span class="light">Un <span class="border">monde</span><br>d’opportunités</span><br>à saisir</h2>
        </div>
    </div>
  </section>
  <!--- SECTION WORLD END --->

  <!-- SECTION FOCUS -->
  <section class="focus">
    <div class="container">
        <h3 class="sr-only">Focus sur trois opportunités</h3>
        <h3 class="title" aria-hidden="true"><span class="light">Focus sur</span>trois opportunités</h3>

        <ul class="focus__list">
            <li class="focus__list__item">
                <a href="#" class="focus__list__item-link">a</a>
            </li>
            <li class="focus__list__item">
                <a href="#" class="focus__list__item-link">b</a>
            </li>
            <li class="focus__list__item">
                <a href="#" class="focus__list__item-link">c</a>
            </li>
        </ul>
    </div>
  </section>
  <!-- SECTION FOCUS END -->

  <!-- SECTION SLIDER  -->
  <section>

        <!-- PANEL 1 -->
        <div class="ip-panel panel" >

            <div class="panel__desc">
                <h3 class="panel__desc__title">
                    Au service<br/> de nos<br/> <span>collaborateurs</span>
                </h3>
            </div>
            <div class="panel__items">
                <ul class="panel__items__ul">
                    <li class="panel__li">
                        <a class='panel__li__link' href="#">
                            <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-1/slide-1.png');"></div>
                            <span class='panel__li__overlay'></span>
                            <span class='panel__li__desc'>Renforcer l'engagement collectif avec I say 2.0</span>
                        </a>
                    </li>
                    <li class="panel__li">
                        <a class='panel__li__link' href="#">
                            <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-1/slide-2.png');"></div>
                            <span class='panel__li__overlay'></span>
                            <span class='panel__li__desc'>Préparer nos collaborateurs pour l'avenir</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- SLIDER MOBILE 1 -->
        <div class="slider-mobile">
            <ip-slider-sl-1
                    slide-title='Au service<br/> de nos<br/> <span>collaborateurs</span>'
                    slide-title-mobile='Au service de <br/>nos <span>collaborateurs</span>',
                    slides='[
                {"imgPath": "../assets/images/slider/slide-1/slide-1.png", "link": "#", "title": "Renforcer l&apos;engagement collectif avec I say 2.0"},
                {"imgPath": "../assets/images/slider/slide-1/slide-2.png", "link": "#", "title": "Préparer nos collaborateurs pour l&apos;avenir"}
            ]'>
            </ip-slider-sl-1>
        </div>

        <!-- PANEL 2 -->
        <div class="ip-panel panel panel-reverse">

            <div class="panel__desc">
                <h3 class="panel__desc__title">
                    Au service<br/> <span>de la planète</span>
                </h3>
            </div>
            <div class="panel__items">
                <ul class="panel__items__ul">
                    <li class="panel__li">
                        <a class='panel__li__link' href="#">
                            <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-2/slide-1.png');"></div>
                            <span class='panel__li__overlay'></span>
                            <span class='panel__li__desc'>Préserver nos terroirs en prenant soin de nos racines</span>
                        </a>
                    </li>
                    <li class="panel__li">
                        <a class='panel__li__link' href="#">
                            <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-2/slide-2.png');"></div>
                            <span class='panel__li__overlay'></span>
                            <span class='panel__li__desc'>Investir dans un avenir plus circulaire</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- SLIDER MOBILE 2 -->
        <div class="slider-mobile">
              <!-- Slider Desktop -->
              <ip-slider-sl-1
                      slide-title='Au service<br/> <span>de la planète</span>'
                      slide-title-mobile='Au service de <br/><span>la planète</span>',
                      slides='[
                    {"imgPath": "../assets/images/slider/slide-2/slide-1.png", "link": "#", "title": "Préserver nos terroirs en prenant soin de nos racines"},
                    {"imgPath": "../assets/images/slider/slide-2/slide-2.png", "link": "#", "title": "Investir dans un avenir plus circulaire"}
                ]'>
              </ip-slider-sl-1>
          </div>

        <!-- Slider Desktop -->
        <div class="slider-desktop">
            <ip-slider-sl-1
                    slide-title='Au service<br/> de nos <br/><span>consommateurs</span>'
                    slide-title-mobile='Au service de<br/><span>nos consommateurs</span>',
                    slides='[
                {"imgPath": "../assets/images/slider/slide-3/slide-1.png", "link": "#", "title": "Martell prend son envol au Nigeria"},
                {"imgPath": "../assets/images/slider/slide-3/slide-2.png", "link": "#", "title": "Pour une croissance de nos marques de Whiskey aux États-Unis"},
                {"imgPath": "../assets/images/slider/slide-3/slide-3.png", "link": "#", "title": "Un apéritif, mais pas que"},
                {"imgPath": "../assets/images/slider/slide-3/slide-4.png", "link": "#", "title": "Un amour Absolu[t]"},
                {"imgPath": "../assets/images/slider/slide-3/slide-5.png", "link": "#", "title": "Le digital au service de la consommation responsable"}
            ]'>
            </ip-slider-sl-1>
        </div>

        <!-- PANEL 3 -->
        <div class="ip-panel panel panel-reverse">

          <div class="panel__desc">
              <h3 class="panel__desc__title">
                  Au service<br/> <span>de l'art</span>
              </h3>
          </div>
          <div class="panel__items">
              <ul class="panel__items__ul">
                  <li class="panel__li">
                      <a class='panel__li__link' href="#">
                          <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-4/slide-1.png');"></div>
                          <span class='panel__li__overlay'></span>
                          <span class='panel__li__desc'>Le programme de mentorat artistique</span>
                      </a>
                  </li>
                  <li class="panel__li">
                      <a class='panel__li__link' href="#">
                          <div class= 'panel__li__bg-img' style="background-image: url('../assets/images/slider/slide-4/slide-2.png');"></div>
                          <span class='panel__li__overlay'></span>
                          <span class='panel__li__desc'>La Fondation d'entreprise Pernod Ricard</span>
                      </a>
                  </li>
              </ul>
          </div>

      </div>

        <!-- SLIDER MOBILE 3 -->
        <div class="slider-mobile">
          <!-- Slider Desktop -->
          <ip-slider-sl-1
                  slide-title='Au service<br/> <span>de l&apos;art</span>>'
                  slide-title-mobile='Au service<br/> <span>de l&apos;art</span>',
                  slides='[
                    {"imgPath": "../assets/images/slider/slide-4/slide-1.png", "link": "#", "title": "Le programme de mentorat artistique"},
                    {"imgPath": "../assets/images/slider/slide-4/slide-2.png", "link": "#", "title": "La Fondation d&apos;entreprise Pernod Ricard"}
                ]'>
          </ip-slider-sl-1>
      </div>

    </section>

  <!-- MAIN END -->
</main>


