<!-- NAVIGATION START -->
<nav role="navigation" id="lp-nav" class="nav">
  <div class="container">
    <img src="../assets/images/logo-primary.svg" alt="Pernod Ricard, Créateurs de convivialité" class="logo" data-aos="zoom-in"/>

    <div class="language" data-aos="fade-left">
      <ul class="language__list" aria-label="Choisir votre langue, Français ou anglais">
        <li class="language__list__item current" aria-current="page">
          <span aria-hidden="true">FR</span>
          <span class="sr-only">Version Française</span>
        </li>
        <li class="language__list__item">
          <a href="#" class="language__list__item__link" aria-label="English version">EN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVIGATION END -->
