<!-- NAVIGATION START -->
<nav role="navigation" class="nav">
  <div class="container">
    <img src="../assets/images/logo-primary.svg" alt="" class="logo">

    <div class="language">
      <ul class="language__list" data-i18n-attr="aria-label" data-i18n="navigation.list">
        <li class="language__list__item current" aria-current="page">
          <span aria-hidden="true">FR</span>
          <span class="sr-only">Version Française</span>
        </li>
        <li class="language__list__item">
          <a href="#" class="language__list__item__link" data-i18n-attr="aria-label" data-i18n="navigation.list-lang">
            EN
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!-- NAVIGATION END -->