@use "../utilities" as *;

/*______________________________________________________________________
  ------------------------------ COLORS --------------------------------
  ______________________________________________________________________ */

/* Main Colors
----------------------------------*/
$primaryColor: #00355c;
$secondaryColor: #449bb5;
$tertiaryColor: #aa423e;
$quartenaryColor: #41558c;
$lightBlue: #4b72b3;
$tropazBlue: #2555a3;

/* Neutral Colors
----------------------------------*/
$lightColor: #ffffff;
$darkColor: #1f1f1f;
$black: #000000;

/* General Colors
----------------------------------*/
$bodyBackgroundColor: $lightColor;
$bodyTextColor: contrast($bodyBackgroundColor, $lightColor, $darkColor);

$navBackgroundColor: $lightColor;
$navTextColor: contrast($navBackgroundColor, $lightColor, $darkColor);

$headerBackgroundColor: fade(darken($darkColor, 100), 70);
$headerTextColor: contrast($headerBackgroundColor, $lightColor, $darkColor);

$footerBackgroundColor: $darkColor;
$footerTextColor: contrast($footerBackgroundColor, $lightColor, $darkColor);
