@use "../utilities" as *;

/*______________________________________________________________________
  ------------------------------ COLORS --------------------------------
  ______________________________________________________________________ */

/* Main Colors
----------------------------------*/
$primaryColor: #00355C;
$secondaryColor: #449BB5;
$tertiaryColor: #AA423E;
$quartenaryColor: #41558C;
$lightBlue: #4B72B3;

/* Neutral Colors
----------------------------------*/
$lightColor: #ffffff;
$darkColor: #1f1f1f;
$black: #000000;

/* General Colors
----------------------------------*/
$bodyBackgroundColor: $lightColor;
$bodyTextColor: contrast($bodyBackgroundColor, $lightColor, $darkColor);

$navBackgroundColor: $lightColor;
$navTextColor: contrast($navBackgroundColor, $lightColor, $darkColor);

$headerBackgroundColor: fade(darken($darkColor, 100), 70);
$headerTextColor: contrast($headerBackgroundColor, $lightColor, $darkColor);

$footerBackgroundColor: $darkColor;
$footerTextColor: contrast($footerBackgroundColor, $lightColor, $darkColor);
